
@{
    ViewData["Title"] = "Index";
}

<div class="span3">
    <h2>Sign Up</h2>
    <form>
        <label>First Name</label>
        <input type="text" name="firstname" class="span3"> <br />
        <label>Last Name</label>
        <input type="text" name="lastname" class="span3"> <br />
        <label>Email Address</label>
        <input type="email" name="email" class="span3"> <br />
        <label>Username</label>
        <input type="text" name="username" class="span3"> <br />
        <label>Password</label>
        <input type="password" name="password" class="span3"> <br />
        <div class="clearfix"></div>
    </form>
</div>

<div class="container">
    <div class="row">

        <p class="lead">Roll over the button on the left to see a dropdown</p>
        Rollover dropdown:
        <!-- Our Special dropdown has class show-on-hover -->
        <div class="btn-group show-on-hover">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Gender <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Male</a></li>
                <li><a href="#">Female</a></li>
            </ul>
        </div>
